<!-- <ng-content select="h1"></ng-content>


<div *ngIf="nome != 'Nicolas'">
    <p [ngClass]="{'active': valor, 'disabled': !valor}"> NgClass </p>
    <p [ngStyle]="{'height': height, 'background': backgroundColor}"> NgStyle </p>
</div>

<hr>

<input type="text" [(ngModel)]="nome">

<button (click)="salvar()">Salvar</button>
<button (click)="remover()">Remover</button>
<li *ngFor="let item of list">{{item.name}}</li>

<hr>

<ng-template ngFor let-item [ngForOf]="list">
    <p>{{item.name}}</p>
</ng-template>
<input type="text" [(ngModel)]="nome">
<button (click)="salvar()">Salvar</button>

<ng-content select="h3"></ng-content> -->


<!-- 
<input [(ngModel)]="nome">
<button (click)="salvar()">Salvar</button>
<li *ngFor="let item of list">{{item.name | uppercase}}</li> -->

{{date | date: 'dd/MM/yyyy'}}
<br>
{{dateTime | date: 'HH:mm:ss'}}